p{font-family: signpainter;}
p{color: tan;}
p{font-size: 12pt;}
p{background-color: darkturquoise}
body{border: dotted;}
p{text-align: left;}
p{text-indent: 5px;}
p{font-weight: normal;}
p{font-kerning: 10pt;}
H1{color: yellow;}
p{overflow: hidden}
p{padding: 30px;}