p{font-family: helvetica;}
p{color: aquamarine;}
p{font-size: 24pt;}
p{background-color: azure}
p{border: soild;}
p{text-align: left;}
p{text-indent: 10px;}
p{font-weight: bold;}
p{font-kerning: 8pt;}
H1{color: brown;}
p{overflow:scroll}
p{padding: 10px;}