p{font-family: papyrus;}
p{color: darkgreen;}
p{font-size: 4pt;}
p{background-color: orange}
body{border: dashed;}
p{text-align: justify;}
p{text-indent: 25px;}
p{font-weight: lighter;}
p{font-kerning: 16pt;}
H1{color: yellow;}
p{overflow: hidden}
p{padding: 20px;}